.idea/
.env/
*.pyc
*/*.pyc
temp/

course_files/Django_Level_Five/learning_users/basic_app/__pycache__/
course_files/Django_Level_Five/learning_users/basic_app/migrations/__pycache__/
course_files/Django_Level_Five/learning_users/learning_users/__pycache__/
course_files/Django_Level_Four/learning_templates/basic_app/__pycache__/
course_files/Django_Level_Four/learning_templates/basic_app/migrations/__pycache__/
course_files/Django_Level_Four/learning_templates/learning_templates/__pycache__/
course_files/Django_Level_One/ProTwo/ProTwo/__pycache__/
course_files/Django_Level_One/ProTwo/appTwo/__pycache__/
course_files/Django_Level_One/ProTwo/appTwo/migrations/__pycache__/
course_files/Django_Level_One/first_project/first_app/__pycache__/
course_files/Django_Level_One/first_project/first_app/migrations/__pycache__/
course_files/Django_Level_One/first_project/first_project/__pycache__/
course_files/Django_Level_Three/ProTwo/ProTwo/__pycache__/
course_files/Django_Level_Three/ProTwo/appTwo/__pycache__/
course_files/Django_Level_Three/ProTwo/appTwo/migrations/__pycache__/
course_files/Django_Level_Three/basicforms/basicapp/__pycache__/
course_files/Django_Level_Three/basicforms/basicapp/migrations/__pycache__/
course_files/Django_Level_Three/basicforms/basicforms/__pycache__/
course_files/Django_Level_Two/ProTwo/ProTwo/__pycache__/
course_files/Django_Level_Two/ProTwo/appTwo/__pycache__/
course_files/Django_Level_Two/ProTwo/appTwo/migrations/__pycache__/
course_files/Django_Level_Two/first_project/first_app/__pycache__/
course_files/Django_Level_Two/first_project/first_app/migrations/__pycache__/
course_files/Django_Level_Two/first_project/first_project/__pycache__/
